<div class="modal-backdrop" style="background-color: rgba(0, 0, 0, 0.8)" ng-show="showModal">
    <div class="modal d-block">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{modalTitle}}</h5>
                    <button type="button" class="close" aria-label="Close" ng-click="closeModal()">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="pb-2">
                        <div class="ml-2">MessageRU: </div>
                        <div class="ml-2">
                            <textarea rows="4" cols="80" ng-model="inputMessage.ru"></textarea>
                        </div>
                    </div>
                    <div class="pb-2">
                        <div class="ml-2">MessageKZ: </div>
                        <div class="ml-2">
                            <textarea rows="4" cols="80" ng-model="inputMessage.kz"></textarea>
                        </div>
                    </div>
                    <div>
                        <div class="ml-2">MessageEN: </div>
                        <div class="ml-2">
                            <textarea rows="4" cols="80" ng-model="inputMessage.en"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" ng-click="closeModal()">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="save(inputMessage)">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>